{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/pestanas.css' %}">
        <link rel="stylesheet" href="{% static 'css/jugadores.css' %}">
    </head>

    <body>
        <header>
            <title></title>
            <div class="encabezado">
                <img src=/static/pagina/escudo.png align="left" class="circulo">
                <div class="corcubion">UD Corcubión</div>
            </div>
        </header>
        <nav id="menu">
            <ul>
                <li><a href="http://127.0.0.1:8000/pagina/">Noticias</a></li>
                <li><a href="http://127.0.0.1:8000/plantilla/senior">Equipos</a>
                    <ul>
                        <li><a href="http://127.0.0.1:8000/plantilla/senior">Senior</a></li>
                        <li><a href="http://127.0.0.1:8000/plantilla/juveniles">Juveniles</a></li>
                    </ul>  
                </li>
                <li><a href="">Videos</a></li>
                <li><a href="">Patrocinadores</li>
                <li><a href="">Tienda</a></li>
            </ul>
        </nav>
        <main>
            <div class="jugadores">  
                {% if jugadores %}
                    <ul class="porteros">  
                        {% for p in porteros %}
                            <div class="por">
                                <h3>{{ p.nombre }} {{p.apellido}}</h3><img class="mediana" src={{ p.foto }} >
                            </div>
                        {% endfor %}
                    </ul>
                    <ul class="defensas">  
                        {% for d in defensas %}
                            <div class="def">
                                <h3>{{ d.nombre }} {{d.apellido}}</h3><img class="mediana" src={{ d.foto }} >
                            </div>
                        {% endfor %}
                    </ul>
                    <ul class="centrocampistas">  
                        {% for c in centrocampistas %}
                            <div class="cen">
                                <h3>{{ c.nombre }} {{c.apellido}}</h3><img class="mediana" src={{ c.foto }} >
                            </div>       
                        {% endfor %}
                    </ul>   
                    <ul class="delanteros">  
                        {% for del in delanteros %}
                            <div class="del">
                                <h3>{{ del.nombre }} {{del.apellido}}</h3>
                                <img class="mediana" src={{ del.foto }}>
                                <h3>Nacionalidad: {{ del.nacionalidad }} Apariciones: {{del.num_partidos}}</h3>
                            </div>       
                        {% endfor %}
                    </ul>     
                {% else %}
                    Non hai xogadores
                {% endif %}
            </div>
        </main>  
    </body>
</html>